body
{background-color: #c0afaf;}
m
{color: darkslategray; font-size: 47px;}
h1
{color: rgb(196, 134, 20); font-size: 23px;}
h2
{color: darkslategray; font-size: 34px;}
h3
{color: rgb(196, 134, 20); font-size: 23px;}